@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение";
}

<h2>Инструкции за нулиране изпратени</h2>
<p>
    Проверете имейла си за инструкции как да възстановите паролата си.
</p>
